html(ng-app="app")
  head
    title ListRGB
    link(rel="stylesheet" href="/bower_components/semantic-ui/build/packaged/css/semantic.css")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/jquery-ui/ui/jquery-ui.js")
    script(src="/bower_components/semantic-ui/build/packaged/javascript/semantic.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-ui-utils/ui-utils.js")
    script(src="/bower_components/angular-cookies/angular-cookies.js")
    script(src="/bower_components/angularLocalStorage/src/angularLocalStorage.js")
    script(src="/bower_components/angular-ui-sortable/sortable.js")
    script(src="/bower_components/angular-elastic/elastic.js")
    script(src="/lib/index.js")
    link(rel="stylesheet" href="/css/index.css")
  body(ng-controller="AppCtrl")
    #content.ui.stackable.grid
      .two.wide.column
      #main.ten.wide.column
        #header-menu.ui.inverted.menu
          a.item
            i.large.home.icon
          .item
            .ui.breadcrumb
              a.section poga
              .divider /
              .active.section Title
          .right.menu
            .item
              i.large.setting.icon
        #percentage
          span.vote-color(style="width:{{green}}%; background-color: green; opacity: 0.75") &nbsp;
          span.vote-color(style="width:{{blue}}%; background-color: blue; opacity: 0.75") &nbsp;
          span.vote-color(style="width:{{red}}%; background-color: red; opacity: 0.75") &nbsp;
          span.vote-color(style="width:{{grey}}%; background-color: grey") &nbsp;
        #project-desc
          p
            | Lorem ipsum dolor sit amet, donec porta et hendrerit aliquet integer
        #new-item-input.ui.fluid.left.icon.focus.input
          i.add.icon
          input(type="text"
            placeholder="add to list"
            ng-model="newItem" ui-keypress="{'enter': 'add()'}")
        #list(ui-sortable ng-model="list")
          .ui.basic.segment(ng-repeat="item in list | filter:search | orderBy:predicate"
            ng-mouseenter="hover=true"
            ng-mouseleave="hover=false"
            ng-class-even="'even'")
            .ui.grid.middle.aligned
              .row.equal.height
                .icon-col.one.wide.column
                  i.ellipsis.vertical.drag-icon.icon(ng-class="{'vis-hide': !hover}")
                .icon-col.one.wide.column(ng-repeat="st in statuses")
                  i.large.status-icon.icon(ng-class="{disabled: !hover && item.status != st,\
                    '{{st}}': item.status == st,\
                    'empty checkbox': item.status != st,\
                    sign: item.status == st}"
                    ng-mouseenter="hover=true"
                    ng-mouseleave="hover=false"
                    ng-init="hover=false"
                    ng-click="setStatus(item, st)")
                .input-col.drag-col.status-col.ten.wide.column
                  .ui.fluid.input
                    textarea(ng-model="item.title" msd-elastic)
                .one.wide.column.right.aligned
                  i.remove.icon(ng-show="hover" ng-click="removeItem(item)")
      #side.two.wide.column
        .ui.fluid.icon.input
          i.search.icon
          input(type="text" placeholder="search" ng-model="search")
        .ui.basic.segment
          h5.ui.header View
          .ui.small.link.list
            a.active.item Mine
            a.item Everyone
          .ui.divider
          h5.ui.header Group By
          .ui.small.link.list
            a.item(ng-click="sortBy('none')" ng-class="{active: sorter == 'none'}") None
            a.item(ng-click="sortBy('status')" ng-class="{active: sorter == 'status'}") Status
            a.item(ng-click="sortBy('category')" ng-class="{active: sorter == 'category'}") Category
          .ui.divider
          h5.ui.header Tag
          .ui.link.list
            a.heading.item(ng-repeat="t in tags") {{t | limitTo:10}}
      .two.wide.column
