html(ng-app="app")
  head
    link(rel="stylesheet" href="/bower_components/semantic-ui/build/packaged/css/semantic.css")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/jquery-ui/ui/jquery-ui.js")
    script(src="/bower_components/semantic-ui/build/packaged/javascript/semantic.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-ui-utils/ui-utils.js")
    script(src="/bower_components/angular-cookies/angular-cookies.js")
    script(src="/bower_components/angularLocalStorage/src/angularLocalStorage.js")
    script(src="/bower_components/angular-ui-sortable/sortable.js")
    script(src="/bower_components/angular-elastic/elastic.js")
    script(src="/lib/index.js")
    link(rel="stylesheet" href="/css/index.css")
  body(ng-controller="AppCtrl")
    #content.ui.stackable.grid
      .two.wide.column
      #main.ten.wide.column
        #header-menu.ui.inverted.menu
          a.item
            i.large.home.icon
          .item
            .ui.breadcrumb
              a.section poga
              .divider /
              .active.section Title
          .right.menu
            .item
              i.large.setting.icon
        #percentage
          span.vote-color(style="width:{{green}}%; background-color: green; opacity: 0.75") &nbsp;
          span.vote-color(style="width:{{blue}}%; background-color: blue; opacity: 0.75") &nbsp;
          span.vote-color(style="width:{{red}}%; background-color: red; opacity: 0.75") &nbsp;
          span.vote-color(style="width:{{grey}}%; background-color: grey") &nbsp;
        #project-desc
          p
            | Lorem ipsum dolor sit amet, donec porta et hendrerit aliquet integer
        #new-item-input.ui.fluid.left.icon.focus.input
          i.add.icon
          input(type="text"
            placeholder="add to list"
            ng-model="newItem" ui-keypress="{'enter': 'add()'}")
        #list(ui-sortable ng-model="list")
          .ui.segment(ng-repeat="item in list | filter:search | orderBy:predicate"
            ng-mouseenter="hover=true"
            ng-mouseleave="hover=false"
            ng-class="{vertical: item.h, basic: !item.h}")
            .ui.grid.middle.aligned
              .row.equal.height
                .drag-col.one.wide.column.right.aligned
                  i.ellipsis.vertical.icon(ng-show="hover")
                  i.angle.right.icon(ng-class="{disabled: !item.h,\
                    'clockwise rotated': item.h}" ng-style="drag")
                .two.wide.column.center.aligned.status-col
                  i.icon(ng-class="{disabled: !hover && item.status != 'green',\
                    green: item.status == 'green',\
                    'empty checkbox': item.status != 'green',\
                    sign: item.status == 'green'}"
                    ng-click="setStatus(item, 'green')")
                  i.icon(ng-class="{disabled: !hover && item.status != 'blue',\
                    blue: item.status == 'blue',\
                    'empty checkbox': item.status != 'blue',\
                    sign: item.status == 'blue'}"
                    ng-click="setStatus(item, 'blue')")
                  i.icon(ng-class="{disabled: !hover && item.status != 'red',\
                    red: item.status == 'red',\
                    'empty checkbox': item.status != 'red',\
                    sign: item.status == 'red'}"
                    ng-click="setStatus(item, 'red')")
                .input-col.twelve.wide.column
                  .ui.fluid.input
                    textarea(ng-model="item.title" msd-elastic
                      ng-class="{1: 'h1', 2: 'h2', 3: 'h3'}[item.h]"
                      )
                .one.wide.column.right.aligned
                  i.remove.icon(ng-show="hover" ng-click="removeItem(item)")
      #side.two.wide.column
        .ui.fluid.icon.input
          i.search.icon
          input(type="text" placeholder="search" ng-model="search")
        .ui.basic.segment
          h5.ui.header View
          .ui.small.link.list
            a.active.item Myself
            a.item World
          .ui.divider
          h5.ui.header Group By
          .ui.small.link.list
            a.item(ng-click="sortBy('none')" ng-class="{active: sorter == 'none'}") None
            a.item(ng-click="sortBy('status')" ng-class="{active: sorter == 'status'}") Status
          .ui.divider
          .ui.link.list
            a.heading.item(ng-repeat="h in headings") {{h.title | limitTo:10}}
      .two.wide.column
