html(ng-app="app" ng-controller="AppCtrl")
  head
    meta(name="viewport" content="width=device-width, user-scalable=no")
    title(ng-bind="pageTitle") ListRGB
    link(rel="stylesheet" href="/semantic.css")
    script(src="/socket.io/socket.io.js")
    script(src="/js/vendor.js")
    script(src="/js/app.js")
    link(rel="stylesheet" href="/css/app.css")
  body
    #content.ui.stackable.grid
      .two.wide.column
      #main.ten.wide.column
        #header-menu.ui.inverted.menu
          a.item
            i.large.icon(ng-class="{cloud: connected, loading: !connected}")
          .input-item.item
            .ui.input.fluid
              input(type="text" ng-model="doc.title" debounce="500")
          .right.menu
            a.item
              i.large.setting.icon(ng-click="showSettings = !showSettings" ng-class="{active: showSettings}")
        #percentage
          span.vote-color.percent-green(style="width:{{percentage.green}}%") &nbsp;
          span.vote-color.percent-blue(style="width:{{percentage.blue}}%") &nbsp;
          span.vote-color.percent-red(style="width:{{percentage.red}}%") &nbsp;
          span.vote-color.percent-none(style="width:{{percentage.none}}%") &nbsp;
        #settings(ng-if="showSettings" ng-cloak)
          h2.ui.header Settings
          .name-config
            | Name : &nbsp;
            .ui.small.input
              input(type="text" ng-model="doc.config.naming.green")
          .icon-config
            | Icon : &nbsp;
            .ui.small.icon.buttons
              .ui.button(ng-repeat="icon in configIcons"
                ng-class="{green: doc.config.icon.green == '{{icon}}'}"
                ng-click="setConfigIcon('green', icon)")
                i.icon(ng-class="icon")
            .ui.small.input
              input(type="text" ng-model="doc.config.icon.green")
          .ui.divider
          .name-config
            | Name : &nbsp;
            .ui.small.input
              input(type="text" ng-model="doc.config.naming.blue")
          .icon-config
            | Icon : &nbsp;
            .ui.small.icon.buttons
              .ui.button(ng-repeat="icon in configIcons"
                ng-class="{green: doc.config.icon.blue == '{{icon}}'}"
                ng-click="setConfigIcon('blue', icon)")
                i.icon(ng-class="icon")
            .ui.small.input
              input(type="text" ng-model="doc.config.icon.blue")
          .ui.divider
          .name-config
            | Name : &nbsp;
            .ui.small.input
              input(type="text" ng-model="doc.config.naming.red")
          .icon-config
            | Icon : &nbsp;
            .ui.small.icon.buttons
              .ui.button(ng-repeat="icon in configIcons"
                ng-class="{green: doc.config.icon.red == '{{icon}}'}"
                ng-click="setConfigIcon('red', icon)")
                i.icon(ng-class="icon")
            .ui.small.input
              input(type="text" ng-model="doc.config.icon.red")
          .ui.divider
          .name-config
            | Name : &nbsp;
            .ui.small.input
              input(type="text" ng-model="doc.config.naming.none")
          .ui.divider
          .ui.button(ng-click="saveConfig()" ng-class="{disabled: !configDirty}") {{ configDirty ? "Save" : "Saved"}}
        #project-desc
          .ui.fluid.input
            textarea(ng-model="doc.desc" msd-elastic debounce="500")
        #new-item-input.ui.fluid.left.icon.focus.input
          i.add.icon
          input(type="text"
            placeholder="New entry..."
            ng-model="newItem" ui-keypress="{'enter': 'addEntry()'}")
        #list(ng-model="list")
          .ui.basic.segment(ng-repeat="entry in doc.entries | orderBy:predicate track by entry.uuid"
            ng-mouseenter="hover=true"
            ng-mouseleave="hover=false"
            ng-class="rowClass(entry)"
            ng-show="([entry] | filter:entryFilter(customFilter)).length > 0")
            .ui.grid.middle.aligned
              .row.equal.height(ng-style="entryStyle[entry.uuid]")
                .icon-col.one.wide.column.right.aligned
                .icon-col.one.wide.column(ng-repeat="color in colors" ng-class="'{{color}}-col'")
                  i.large.status-icon.icon(ng-class="iconClass(color, entry.uuid, hover)"
                    ng-mouseenter="hover=true"
                    ng-mouseleave="hover=false"
                    ng-init="hover=false"
                    ng-click="toggleFeedback(entry, color)")
                .input-col.ten.wide.column
                  .ui.fluid.input
                    textarea(ng-model="entry.text" msd-elastic debounce="300"
                    ng-focus="focusEntry(uid, entry.uuid)"
                    ng-blur="unfocusEntry(uid, entry.uuid)")
                .icon-col.one.wide.column.right.aligned
                  i.trash.icon(ng-click="removeEntryByUuid(entry.uuid)"
                    ng-class="{'disabled': !hover}")
                .icon-col.one.wide.column
                  .sparkline(sparkline
                    ng-model="stats[entry.uuid]"
                    opts="{{ {'type': 'pie', 'width': '30px', 'sliceColors': ['#b8bd8b','#92dbf7','#e28585','#808080']} }}"
                    )
      #side.three.wide.column
        .ui.fluid.icon.input
          i.search.icon
          input(type="text" placeholder="search" ng-model="customFilter.text" debounce="300")
        .ui.basic.segment
          h5.ui.header Sort By
          .ui.small.link.list
            a.item(ng-click="setSorter('none')" ng-class="{active: sorter == 'none'}") None
            a.item(ng-click="setSorter('color')" ng-class="{active: sorter == 'color'}") Color
            a.item(ng-click="setSorter('stats-green')" ng-class="{active: sorter == 'stats-green'}") Stats-Green
            a.item(ng-click="setSorter('stats-blue')" ng-class="{active: sorter == 'stats-blue'}") Stats-Blue
            a.item(ng-click="setSorter('stats-red')" ng-class="{active: sorter == 'stats-red'}") Stats-Red
          .ui.divider
          h5.ui.header Color
          .color-select
            .ui.checkbox.green
              input(type="checkbox" name="green" ng-model="customFilter.green" id="green-check")
              label(for="green-check") {{doc.config.naming.green}}
          .color-select
            .ui.checkbox.blue
              input(type="checkbox" name="blue" ng-model="customFilter.blue" id="blue-check")
              label(for="blue-check") {{doc.config.naming.blue}}
          .color-select
            .ui.checkbox.red
              input(type="checkbox" name="red" ng-model="customFilter.red" id="red-check")
              label(for="red-check") {{doc.config.naming.red}}
          .color-select
            .ui.checkbox
              input(type="checkbox" name="none" ng-model="customFilter.none" id="none-check")
              label(for="none-check") {{doc.config.naming.none}}
          .ui.divider
          h5.ui.header Tags
          .ui.link.list
            a.item(ng-repeat="t in tags"
              ng-click="setSearch(t)"
              ng-class="{active: ([search] | filter:t).length > 0}") {{t | characters:20}}
          a(href="https://github.com/poga/ListRGB")
            i.large.github.icon
      .one.wide.column
    - if (typeof(googleAnalytics) !== 'undefined')
      script(type="text/javascript").
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '#{googleAnalytics}', 'auto');
        ga('send', 'pageview');
