html(ng-app="app")
  head
    title ListRGB
    link(rel="stylesheet" href="/semantic.css")
    script(src="/socket.io/socket.io.js")
    script(src="/js/vendor.js")
    script(src="/js/app.js")
    link(rel="stylesheet" href="/css/index.css")
  body(ng-controller="AppCtrl")
    #content.ui.stackable.grid
      .two.wide.column
      #main.ten.wide.column
        #header-menu.ui.inverted.menu
          a.item
            i.large.home.icon
          .item.breadcrumb-item
            .ui.breadcrumb
              a.section {{user}}
              .divider /
          .item.menu-item-without-separator
            .ui.input
              input(type="text" ng-model="doc.title" debounce="500")
          .right.menu
            .item
              i.large.setting.icon
        #percentage
          span.vote-color.percent-green(style="width:{{percentage.green}}%") &nbsp;
          span.vote-color.percent-blue(style="width:{{percentage.blue}}%") &nbsp;
          span.vote-color.percent-red(style="width:{{percentage.red}}%") &nbsp;
          span.vote-color.percent-none(style="width:{{percentage.none}}%") &nbsp;
        #project-desc
          .ui.fluid.input
            textarea(ng-model="doc.desc" msd-elastic debounce="500")
        #new-item-input.ui.fluid.left.icon.focus.input
          i.add.icon
          input(type="text"
            placeholder="add to list"
            ng-model="newItem" ui-keypress="{'enter': 'addEntry()'}")
        #list(ng-model="list")
          .ui.basic.segment(ng-repeat="entry in doc.entries | orderBy:predicate track by entry.uuid"
            ng-mouseenter="hover=true"
            ng-mouseleave="hover=false"
            ng-class-even="'even'"
            ng-show="([entry] | filter:search).length > 0")
            .ui.grid.middle.aligned
              .row.equal.height
                .icon-col.one.wide.column
                .icon-col.one.wide.column(ng-repeat="color in colors")
                  i.large.status-icon.icon(ng-class="{disabled: !hover && fb.feedbacks[entry.uuid] != color,\
                    '{{color}}': fb.feedbacks[entry.uuid] == color,\
                    'empty checkbox': fb.feedbacks[entry.uuid] != color,\
                    sign: fb.feedbacks[entry.uuid] == color}"
                    ng-mouseenter="hover=true"
                    ng-mouseleave="hover=false"
                    ng-init="hover=false"
                    ng-click="toggleFeedback(entry, color)")
                .input-col.drag-col.status-col.nine.wide.column
                  .ui.fluid.input
                    textarea(ng-model="entry.text" msd-elastic debounce="300")
                .icon-col.one.wide.column.right.aligned
                  i.trash.icon(ng-class="{'vis-hide': !hover}" ng-click="removeEntryByUuid(entry.uuid)")
      #side.three.wide.column
        .ui.fluid.icon.input
          i.search.icon
          input(type="text" placeholder="search" ng-model="search" debounce="300")
        .ui.basic.segment
          h5.ui.header View
          .ui.small.link.list
            a.active.item Mine
            a.item Everyone
          .ui.divider
          h5.ui.header Sort By
          .ui.small.link.list
            a.item(ng-click="sortBy('none')" ng-class="{active: sorter == 'none'}") None
            a.item(ng-click="sortBy('status')" ng-class="{active: sorter == 'status'}") Status
          .ui.divider
          h5.ui.header Tags
          .ui.link.list
            a.item(ng-repeat="t in doc.tags" ng-click="setSearch(t)") {{t | characters:20}}
      .one.wide.column
